# ANN
59 0 * * 5 sh ~/bin/rec_radiko.sh LFR 122 ~/mp3/"ナインティナインのオールナイトニッポン "
59 0 * * 7 sh ~/bin/rec_radiko.sh LFR 122 ~/mp3/"オードリーのオールナイトニッポン "

# ANN0
59 2 * * 5 sh ~/bin/rec_radiko.sh LFR 122 ~/mp3/"Hi-Hiのオールナイトニッポン0 "

# JUNK
59 0 * * 2 sh ~/bin/rec_radiko.sh TBS 122 ~/mp3/"JUNK 伊集院光・深夜の馬鹿力 "
59 0 * * 3 sh ~/bin/rec_radiko.sh TBS 122 ~/mp3/"JUNK 爆笑問題カーボーイ "
59 0 * * 4 sh ~/bin/rec_radiko.sh TBS 122 ~/mp3/"JUNK 山里亮太の不毛な議論 "
59 0 * * 5 sh ~/bin/rec_radiko.sh TBS 122 ~/mp3/"JUNK おぎやはぎのメガネびいき "
59 0 * * 6 sh ~/bin/rec_radiko.sh TBS 122 ~/mp3/"JUNK バナナマンのバナナムーンGOLD "

# TSUTAYA 
59 14 * * 5 sh ~/bin/rec_radiko.sh TBS 22 ~/mp3/"伊集院光の週末TSUTAYAに行ってこれ借りよう！ "

# 柳家喬太郎のキンキラ金曜日 
59 19 * * 5 sh ~/bin/rec_radiko.sh FMT 57 ~/mp3/"柳家喬太郎のキンキラ金曜日 "
